.Chat-main
  .group-info
    %ul.chat-name
      %li.group-name test
      %li.member-name  Member:masa
    .edit-group
      = link_to "#" do
        Edit  
  .message-list
    .message-box
      .message-info
        .user-name masa
        .post-data 2019/11/20(Wed)17:43:01
      .message
        .message-contents おはよう！
  .message-form
