.Chat-main
  .group-info
    %ul.chat-name
      %li.group-name test
      %li.member-name  Member:masa
    .edit-group
      = link_to "#" do
        Edit  
  .message-list
    .message-box
      .message-info
        .user-name masa
        .post-data 2019/11/20(Wed)17:43:01
      .message
        .message-contents おはよう！
  .message-form
    %form.new-message
      .input-box
        %input{type: "text", class: "text", placeholder: "type a message"}
        %label{class: "image",}
          = icon("fas","image")
          %input{type: "file", class: "file"}
        %input{type: "submit", class: "submit-btn",value: "Send"}
    