.Side-ber
  .user-name
    .top-items
      .name masa
      .icon
        = link_to "#" do
          = icon('far', 'edit', class: "btn-icon" )  
          %span<>
        = link_to "#" do
          = icon('fas', 'book-open', class: "btn-icon" )  
  .group-list
    .name techcamp
    .message まだメッセージがありません
  
  
