.Side-ber
  .User-name
    .Top-items
      .Top-items__name
        masa
      .Top-items__icon
        = link_to "#" do
          = icon('far', 'edit', class: "Top-items__btn-icon" )  
          %span<>
        = link_to "#" do
          = icon('fas', 'book-open', class: "Top-items__btn-icon" )  
  .Group-list
    .Group-list__name
      techcamp
    .Group-list__message
      まだメッセージがありません
  
  
