.Side-ber
  .user-name
    .top-items
      .name masa
      .icon
      = link_to "#", class: "Contents__btn Contents__btn--edit" do
        = icon('far', 'edit', class: "Contents__btn--icon" )  
      = link_to "#", class: "Contents__btn Contents__btn--book-open" do
        = icon('fas', 'book-open', class: "Contents__btn--icon" )  
  .group-list
  
  
